In [1]:
import random
import pandas as pd

In [2]:
level2_df = pd.read_json('level2.json')
level3_df = pd.read_json('level3.json')

In [3]:
level2_df

                     name                    majors  age      uid
L2-0000        Yvjg Utcwi     [Police, Propagation]   55  L2-0000
L2-0001       Lagqb Awsyd           [Industry, Law]   46  L2-0001
L2-0002         Mpo Czesx  [Organization, Military]   51  L2-0002
L2-0003       Chwpx Pngsz  [Industry, Organization]   48  L2-0003
L2-0004       Oqelq Hsoai     [Propagation, Police]   61  L2-0004
L2-0005       Aiesb Orkds   [Propagation, Military]   66  L2-0005
L2-0006    Mxq Pmagaaxpus             [Police, Law]   63  L2-0006
L2-0007  Unghm Mixuyzousm  [Industry, Organization]   58  L2-0007
L2-0008      Zfns Ddgmrkb   [Military, Propagation]   53  L2-0008
L2-0009     Cet Qnohbyfav   [Propagation, Industry]   71  L2-0009

In [4]:
level3_df

                    name         major  age      uid
L3-0000   Dos Iyvpuudixn      Military   51  L3-0000
L3-0001  Iump Wuanqejqsv           Law   44  L3-0001
L3-0002     Yeb Ujuleiqz  Organization   46  L3-0002
L3-0003       Qgxr Tfovd  Organization   59  L3-0003
L3-0004  Nqnlf Vqbmntshi   Propagation   59  L3-0004
...                  ...           ...  ...      ...
L3-0095      Ihrq Owebpc        Police   41  L3-0095
L3-0096       Idux Dpgta           Law   42  L3-0096
L3-0097     Ljcek Kimbon   Propagation   52  L3-0097
L3-0098      Amlg Vmsmjz        Police   57  L3-0098
L3-0099      Edghu Ieely        Police   69  L3-0099

[100 rows x 4 columns]

In [5]:
links_df = pd.DataFrame(columns=['links', 'uid'])
links_df

Empty DataFrame
Columns: [links, uid]
Index: []

In [6]:
for uid in level2_df.index:
    links = []
    for major in level2_df.loc[uid]['majors']:
        df = level3_df.loc[level3_df['major'] == major]
        l = len(df)
        k = int(l * 0.7)
        links += [df.iloc[j]['uid'] for j in random.sample(range(l), k=k)]
    links_df = links_df.append(pd.Series({'links': links, 'uid': uid}, name=uid))
        
links_df

                                                     links      uid
L2-0000  [L3-0072, L3-0056, L3-0043, L3-0095, L3-0025, ...  L2-0000
L2-0001  [L3-0019, L3-0083, L3-0013, L3-0020, L3-0080, ...  L2-0001
L2-0002  [L3-0062, L3-0029, L3-0071, L3-0085, L3-0026, ...  L2-0002
L2-0003  [L3-0020, L3-0080, L3-0088, L3-0051, L3-0083, ...  L2-0003
L2-0004  [L3-0054, L3-0097, L3-0093, L3-0006, L3-0008, ...  L2-0004
L2-0005  [L3-0004, L3-0008, L3-0093, L3-0089, L3-0006, ...  L2-0005
L2-0006  [L3-0095, L3-0043, L3-0091, L3-0042, L3-0069, ...  L2-0006
L2-0007  [L3-0013, L3-0018, L3-0090, L3-0083, L3-0019, ...  L2-0007
L2-0008  [L3-0000, L3-0012, L3-0058, L3-0009, L3-0021, ...  L2-0008
L2-0009  [L3-0093, L3-0054, L3-0006, L3-0084, L3-0008, ...  L2-0009

In [7]:
links_df.to_json('links.json')